
@font-face {
  font-weight: normal;
  font-family: "ExoThin";
  font-style: normal;
  src: url("../fonts/Exo2.0-Thin.woff2") format("woff2"), url("../fonts/Exo2.0-Thin.woff") format("woff");
}
@font-face {
  font-weight: normal;
  font-family: "TrebuchetMS regular";
  font-style: normal;
  src: url("../fonts/TrebuchetMS.woff2") format("woff2"), url("../fonts/TrebuchetMS.woff") format("woff");
}
@font-face {
  font-weight: normal;
  font-family: "TrebuchetMS Bold";
  font-style: normal;
  src: url("../fonts/TrebuchetMS-Bold.woff2") format("woff2"), url("../fonts/TrebuchetMS-Bold.woff") format("woff");
}